<div class="nav-side-menu"> <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <div class="menu-content">
            <ul class="menu-items collapse show " id="group3">
                <li><a href="#"> Navigation </a></li>
                <li><a href="#"> Navigation </a></li>
                <li><a href="#"> Navigation </a></li>
                <li><a href="#"> Navigation </a></li>
                <li><a href="#"> Navigation </a></li>
                <li><a href="#"> Navigation </a></li>
            </ul>
        </div>
    </div>
</div>
