.alert {
  border:none;
  border-left: 0.25rem solid;
  .alert-heading {
    @extend .rbt-ts-18;
    margin-bottom: 0.25rem;
    font-weight: 700;
    //color: red;

  }
  p {
    margin: 0px;
    &.small {
      font-size: .875rem;
    }
  }


  &.rbt-alert-list {
    margin-bottom: .5rem;
  }

}




@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -11), theme-color-level($color, -3), theme-color-level($color, 6));
  }
}

