
.rbt-app-header {
  border-bottom: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;
  z-index: 5;
  a {
    text-decoration: none;
  }
  &.rbt-app-header--light {
    background: $white;
  }

  .rbt-nav-divider-l {
    padding-left: 2rem;
    position: relative;
    padding-left: 12px;

    &:before {
      content: '';
      background:$gray-500;
      position: absolute;
      width: 1px;
      height: 32px;
      left: -4px;
      top: 8px;
    }
  }
  .rbt-brand-image-container {
    padding-left: 0rem;
    padding-right: 0rem;

    .rbt-brand-image {
      height: 70px;
      width: auto;
    }
  }
  .rbt-brand-title-container {
    .rbt-brand-title {
      font-size: 1.4375rem;
      font-weight: normal;
      margin-bottom: 0rem;
    }
  }
  .nav {
    .nav-item {
      .nav-link {
        color: $body-color;
        padding-left: 0rem;
        padding-right: 2.5rem;
        display: inline-block;
        &.dropdown-toggle {
          //padding-right: 3rem;
          display: inline-block;
        }
        &.rbt-nav-linkcolor {
          color:$link-color;

        }
      }
      .rbt-avatar {
        //margin-top: 10px;
      }
    }
  }

  .rbt-user-info {
    padding-left: 3rem;

  }
  .rbt-mobile-menu {
    height: 70px;
    width: 70px;
    border-left: 1px solid $gray-300;
    .fa {
      font-size: 2rem;
    }

  }
}