.modal-content {
  .modal-header {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    .modal-title {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1;
    }
    .close {
      .rbt-icon-close {
        top: -13px;
        right: -6px;
      }
    }
  }
  .modal-footer{
    padding: 1rem 1.5rem;
    background: $gray-50;
  }
}