.rbt-drawer {
  position: absolute;
  right: 0;
  //top: 71px;
  background-color:#eeeeee;
  width: 85%;
  max-width: 400px;
  height: 100%;

  border-left: 1px solid #dddddd;
  padding: 1rem;
  padding-top: 71px;
  z-index: 1;
  top:0px;
}

