



.badge {
  //border-radius: 8px!important;
  //display: inline-block;
  font-size: 80% !important;
  //font-weight: bold;
  letter-spacing: .02rem!important;
  line-height: 1.5!important;
  //padding: 0.125rem 0.5rem;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}