.rbt-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  text-align: center;
  padding-top: .35rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}

