.ts-12,
.rbt-ts-12 {
  font-size: 0.75rem !important;
}

.ts-14,
.rbt-ts-14 {
  font-size: 0.875rem !important;
}

.ts-16,
.rbt-ts-16 {
  font-size: 1rem !important;
}

.ts-18,
.rbt-ts-18 {
  font-size: 1.125rem !important;
}

.ts-20,
.rbt-ts-20 {
  font-size: 1.25rem !important;
}

.ts-23,
.rbt-ts-23 {
  font-size: 1.4375rem !important;
}

.ts-26,
.rbt-ts-26 {
  font-size: 1.625rem !important;
}

.ts-29,
.rbt-ts-29 {
  font-size: 1.8125rem !important;
}

.ts-32,
.rbt-ts-32 {
  font-size: 2rem !important;
}

.ts-36,
.rbt-ts-36 {
  font-size: 2.25rem !important;
}

.ts-41,
.rbt-ts-41 {
  font-size: 2.5625rem !important;
}

.ts-46,
.rbt-ts-46 {
  font-size: 2.875rem !important;
}

.ts-52,
.rbt-ts-52 {
  font-size: 3.25rem !important;
}

