
//
// Font family
//

$font-family-sans-serif: "BentonSans", "Helvetica Neue", "Helvetica", sans-serif !default;



//
// Color system
//

$white:  #fff !default;

$gray-50: #fafafa;
$gray-100: #eeeeee;
$gray-150: #eaeaea;
$gray-200: #dddddd;
$gray-300: #cccccc;
$gray-400: #aaaaaa;
$gray-500: #999999;
$gray-600: #777777;
$gray-700: #666666;
$gray-800: #555555;
$gray-900: #444444;

$black:  #000 !default;

$grays: (
        100: $gray-100,
        200: $gray-200,
        300: $gray-300,
        400: $gray-400,
        500: $gray-500,
        600: $gray-600,
        700: $gray-700,
        800: $gray-800,
        900: $gray-900
) !default;
//$blue:    #007bff !default;
$blue:    #006298 !default;



$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #df3603 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #008a28 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800
) !default;

$theme-colors: (
        primary: $blue,
        secondary: $gray-300,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800
) !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

$list-group-border-width: 2px;

$list-group-border-color:#eeeeee;

$list-group-item-padding-y:1rem;

$link-decoration:  underline !default;


// fonts

$headings-font-weight:normal !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y:       .625rem !default;
$input-btn-padding-x:       1rem !default;
$input-btn-line-height:     1 !default;

$input-btn-padding-y-sm:    .35rem !default;
$input-btn-padding-x-sm:    .65rem !default;
$input-btn-line-height-sm:  1 !default;

$input-btn-padding-y-lg:    .5rem !default;
$input-btn-padding-x-lg:    1rem !default;
$input-btn-line-height-lg:  1.5 !default;


$line-height-sm: 1 !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:         1.5rem !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-margin-y-sm-up: 30px !default;

//$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $white !default;
$modal-content-border-color:     rgba($black,.2) !default;
//$modal-content-border-width:     $border-width !default;
$modal-content-box-shadow-xs:    0 3px 9px rgba($black,.5) !default;
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($black,.5) !default;

$modal-backdrop-bg:           $black !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   $gray-200 !default;
$modal-footer-border-color:   $modal-header-border-color !default;
//$modal-header-border-width:   $modal-content-border-width !default;
//$modal-footer-border-width:   $modal-header-border-width !default;
$modal-header-padding:        15px !default;

$modal-lg:                    800px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;

$modal-transition:            transform .3s ease-out !default;



// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:             1rem !default;
$alert-padding-x:             1rem !default;
$alert-margin-bottom:         1.5rem !default;
$alert-border-radius:         none !default;


$body-color:    $gray-900 !default;



$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;


// Pagination

$pagination-padding-y:                .75rem !default;
$pagination-padding-x:                1rem !default;
$pagination-padding-y-sm:             .35rem !default;
$pagination-padding-x-sm:             .65rem !default;

//$pagination-color:                     $link-color !default;
$pagination-bg:                        $white !default;
$pagination-border-width:              2px !default;
$pagination-border-color:              #ddd !default;

//$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-200 !default;
$pagination-hover-border-color:        #ddd !default;

$pagination-active-color:              $white !default;
$pagination-active-bg:                 $blue !default;
$pagination-active-border-color:       $blue !default;

$pagination-disabled-color:            $gray-700 !default;
$pagination-disabled-bg:               $gray-100 !default;
$pagination-disabled-border-color:     #ddd !default;



// Breadcrumbs

$breadcrumb-padding-y:          1rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 $gray-100 !default;
$breadcrumb-divider-color:      $gray-300 !default;
$breadcrumb-active-color:       $gray-600 !default;
$breadcrumb-divider:            "/" !default;




// Badges

$badge-color:                 $body-color !default;
$badge-font-size:             75% !default;
$badge-font-weight:           bold !default;
$badge-padding-y:             0.125rem !default;
$badge-padding-x:             0.5rem !default;


$badge-pill-padding-x:        .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:    10rem !default;



// Cards

$card-spacer-y:            .75rem !default;
$card-spacer-x:            1.25rem !default;
$card-border-width:        0px !default;
$card-border-radius:       4px !default;
$card-border-color:        rgba($black,.125) !default;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:              rgba($black, .03) !default;
$card-bg:                  $white !default;

$card-img-overlay-padding: 1.25rem !default;

//$card-deck-margin:          ($grid-gutter-width / 2) !default;

$card-columns-count:        3 !default;
$card-columns-gap:          1.25rem !default;
$card-columns-margin:       $card-spacer-y !default;



// forms

$input-disabled-bg:              $gray-100 !default;