.dropdown-toggle::after {
  margin-left: .5rem;
  vertical-align: -3px;
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.5rem;
  margin-top: -10px;
}

