
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-check-o:before { content: '\e801'; } /* '' */
.icon-close-o:before { content: '\e802'; } /* '' */
.icon-dash-o:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-info-o:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */