.rbt-app-header {
  z-index: 10 !important;
  transition: box-shadow .5s;
  .rbt-brand-image-container {
    padding-left: 0rem;
  }
}

@include media-breakpoint-up(sm) {
  .rbt-app-header {
    .rbt-brand-image-container {
      padding-left: 15px;
    }
  }
}

.rbt-drawer {
  z-index: 3;
}

.ccf-searchtrigger {
  .btn {
    color: $body-color;
  }
}

