.footer-menu {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: $color-black--900;
	z-index: 6;
	@include shadow;
	.btn {
		color: $white;
		border-width: 0px;
		&:hover {
			background: $color-black--900;
		}
	}
}