.modal-body {
	padding-top: .5rem;
}



@include media-breakpoint-down(xs) {
	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.25rem;
	}
}


.table-actions td:last-child {
	width: 1%;
	white-space: nowrap;
}
