$theme-primary: #ffedb9;
$theme-accent: $purple;

//$theme-primary: $blue;
//$theme-accent: #ffedb9;

$theme-body-bg: #f8f4e8;

@function set-contrast($color) {
	//@if (lightness($color) > 65) and (saturation($color) > 65){
	@if (lightness($color) > 65) {
		@return $body-color;
	}
	@else {
		@return $white;
	}
}

@function set-pricebackground-color($color) {
	@if (lightness($color) > 65) and (saturation($color) < 65){
		@return transparentize($theme-accent, 0.2);
	}
	@else {
		@return transparentize($theme-primary, 0.2);
	}
}

@function set-textshadow($color) {
	@if (lightness($color) > 65){
		@return none;
	}
	@else {
		@return 1px 1px 4px $black;
	}
}

body {
	background: $theme-body-bg;
}

.rbt-app-header .btn-primary {
	background: $theme-accent;
	color: $theme-primary;
}

.rbt-app-header .btn-outline-primary {
	border-color:$theme-accent;
	color: $theme-accent;
}

.rbt-app-header, .modal .modal-header {
	background: $theme-primary;
	color: set-contrast($theme-primary);
}

.modal .modal-header .close .rbt-icon-close {
	color: set-contrast($theme-primary);
}
.rbt-app-header .btn-primary,
.rbt-app-header .input-group .form-control {
	border-color: set-contrast($theme-primary);
}

.postitem.grid .postitem-container .postitem-price {
	background: set-pricebackground-color($theme-primary);
	color: set-contrast($theme-primary);
	text-shadow: set-textshadow($theme-primary);
}

.btn-primary {
	background: $theme-primary;
	color: $theme-accent;
	border-color: $theme-primary;
}
@function set-btn-outline-primary($color) {
	@if (lightness($color) > 50) {
		@return $theme-accent;
	}
	@else {
		@return $theme-primary;
	}
}
.btn-outline-primary {
	color: set-btn-outline-primary($theme-primary);
	border-color: set-btn-outline-primary($theme-primary);
}