body {
	background: $gray-50;
	.nav-section {
		border-right: solid 1px $gray-200;
	}
	.main-content-section {
		padding-bottom: 100px;
	}

}

.ccf-mobile-categories {
	@extend .list-group;
	@extend .mt-3;
	margin-bottom: 100px;
	.list-group-item {
		a {
			text-decoration: none;
			color: $body-color;
			@extend .row;
			.category {
				@extend .col;
				@extend .pl-0;
				line-height: 1.75;
			}
			.fa {
				margin-right: 10px;
				font-size: 24px;
				@extend .col-auto;
				@extend .pr-0;
			}
		}
	}
}

.table tbody tr td {
	vertical-align: top !important;
}

.ccf-table-responsive-container {
	margin-left: -15px;
	margin-right: -15px;
}

@include media-breakpoint-up(md) {
	.ccf-table-responsive-container {
		margin-left:0px;
		margin-right:0px;
	}
}

@include media-breakpoint-down(md) {
	.table.rbt-table-responsive thead {
		border: none;
	}
}

.ccf-instructional-text {
	//color: red;
	margin-bottom: 5px;
	font-weight: normal;
	@extend .rbt-ts-14;
}

.form-group label {
	font-size: 1rem !important;
}

.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {

	height: 41px;
}