
.postitem-row {
	@include make-row();
	margin: 0px;
}
.postitem {
	@include make-col-ready();
	.postitem-functions{
		position: absolute;
		z-index: 1;
		.postitem-functions-set {
			background: transparent;
			padding-left: 4px;
			padding-right: 4px;
			padding-bottom: 1px;
			.btn-link {
				padding: 0px;
				color: $gray-600;
				margin-top: 0px;
				background: $white;
				width: 24px;
				height: 24px;
			}
		}
	}
	.postitem-container {
		display:block;
		color: $gray-900;
		padding: 5px;
		background: $white;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		text-decoration: none;

		box-shadow: 0 2px 0 #dddddd;
		border-radius: 4px;
		&:hover {
			-webkit-box-shadow: 0px 0px 15px 2px rgba(227,227,227,1);
			-moz-box-shadow: 0px 0px 15px 2px rgba(227,227,227,1);
			box-shadow: 0px 0px 15px 2px rgba(227,227,227,1);
		}
		.postitem-image-container{
			.post-image {
				background-color: $gray-100;
				background-size: auto 100%;
				min-height: 77px;
				width: 100%;
			}
			.post-image.none i {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $white;
				z-index: 1;
				margin: auto;
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				text-align: center;
			}
		}
		.postitem-post-title {
			font-size: 14px;
			color: $link-color;
			line-height: .9rem;
		}
		.postitem-price{
			@include text-truncate();
			font-size: 16px;
			overflow-wrap: break-word;
		}
		.postitem-description{
			display: none;
		}
		.postitem-postdate{
			font-size: 12px;
			font-style: italic;
			color: $gray-700;
		}
		.postitem-postlocation{
			@include text-truncate();
			font-size: 12px;
			color: $gray-700;
			overflow-wrap: break-word;
		}
	}

	@include media-breakpoint-down(xs) {
		@include make-col(12);
		.postitem-functions{
			right: 16px;
			top: 3px;
		}
		.postitem-container {
			height: 66px;
			.postitem-image-container{
				position: absolute;
				padding: 0px;
				top: 0px;
				width: 64px;
				height: 47px;
				left: 0px;

				.post-image.none i {
					font-size: 2rem;
					top: 16px;
				}
			}
//			.postitem-newbanner{
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 2px 57px 2px 47px;
//				position: absolute;
//				left: -39px;
//				top: 0px;
//				transform: rotate(-35deg);
//				-webkit-transform: rotate(-35deg);
//				z-index: 1;
//			}
			.postitem-post-title {
				@include make-col(12);
				padding-left: 64px;
				padding-right: 30px;
				height: 33px;
				overflow: hidden;
				overflow-wrap: break-word;
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					bottom: 27px;
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				}
			}
			.postitem-price{
				 @include make-col(7);
				font-weight: bold;
				padding-left: 64px;
				max-height: 32px;
				padding-top: 1px;
				max-width: 56%;
			}
			.w-100 {
				display: none;
			}
			.postitem-postdate{
				@include make-col(3);
				padding-top: 5px;
				padding-left: 0px;
			}
			.postitem-postlocation{
				position: absolute;
				right: 10px;
				bottom: 5px;
				width: 77px;
				text-align: right;
				max-height: 24px;
			}
		}
	}
}
.postitem.grid {
	@include media-breakpoint-up(sm) {
		@include make-col(6);
		.postitem-functions{
			right: 24px;
			top: 11px;
		}
		.postitem-container {
			padding: 10px;
			padding-bottom: 3px;
			margin-bottom: 20px;
			.postitem-image-container{
				@include make-col(12);
				.post-image {
					background-repeat: no-repeat;
					background-position: center;
					background-size: 235px auto;
					min-height: 150px;
					margin-bottom: 5px;
					height:50px;
				}
				.post-image.none i {
					font-size: 4rem;
					margin-top: 45px;
					top: 0;
				}
			}
//			.postitem-newbanner{
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 2px 57px 2px 47px;
//				position: absolute;
//				left: -39px;
//				top: 0px;
//				transform: rotate(-35deg);
//				-webkit-transform: rotate(-35deg);
//			}
			.postitem-post-title {
				@include make-col(12);
				line-height: 1.1rem;
				max-height: 40px;
				height: 40px;
				overflow-wrap: break-word;
				overflow: hidden;
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					bottom: 21px;
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				}
			}
			.postitem-price {
				position: absolute;
				font-size: 14px;
				text-shadow: 1px 1px 4px #000000;
				text-transform: capitalize;
				line-height: 1.1rem;
				color: white;
				bottom: 75px;
				padding: 4px;
				padding-right: 10px;
				left: 11px;
				max-width: 85%;
				-webkit-border-top-right-radius: 15px;
				-webkit-border-bottom-right-radius: 15px;
				-moz-border-radius-topright: 15px;
				-moz-border-radius-bottomright: 15px;
				border-top-right-radius: .25rem;
				border-bottom-right-radius: .25rem;
				z-index: 2;
				background: $gray-900; //temporary

				&:empty {
					display:none;
				}
			}
			.postitem-postdate{
				@include make-col(6);
			}
			.postitem-postlocation{
				@include make-col(6);
				text-align: right;
				max-height: 18px;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		@include make-col(4);
	}
}
.postitem.thumb {
	@include media-breakpoint-up(sm) {
		@include make-col(12);
		.postitem-functions{
			right: 15px;
			top: 5px;
		}
		.postitem-container {
			.postitem-image-container{
				@include make-col(2);
				.post-image {
					background-repeat: no-repeat;
					background-position: center;
					background-size: 140px auto;
					position: relative;
				}
				.post-image.none i {
					font-size: 2.5rem;
					top: 17px;
				}
			}
//			.postitem-newbanner{
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 2px 57px 2px 47px;
//				position: absolute;
//				left: -39px;
//				top: 0px;
//				transform: rotate(-35deg);
//				-webkit-transform: rotate(-35deg);
//				z-index: 1;
//			}
			.postitem-post-title {
				@include make-col(4);
				padding-left: 5px;
				padding-right: 5px;
				max-height: 50px;
				overflow: hidden;
				overflow-wrap: break-word;
				line-height: 1rem;
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					bottom: 28px;
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				}
			}
			.postitem-price{
				position: absolute;
				font-weight: bold;
				left: 94px;
				bottom: 5px;
				max-width: 22%;
			}
			.w-100 {
				display: none;
			}
			.postitem-description{
				display: block;
				@include make-col(6);
				line-height: 1.3;
				padding-right: 65px;
				padding-left: 15px;
				font-size: 12px;
				max-height: 77px;
				height: 77px;
				position: relative;
				overflow-wrap: break-word;
				&:before {
					background: $gray-200;
					position: absolute;
					width: 2px;
					height: 76px;
					content: "";
					left: 2px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					bottom: -5px;
					left: 0px;
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				}
				.ngx-ellipsis-inner{
					white-space: pre-wrap;
				}
			}
			.postitem-postdate{
				position: absolute;
				left: 211px;
				bottom: 5px;

			}
			.postitem-postlocation{
				text-align: right;
				position: absolute;
				right: 10px;
				bottom: 5px;
				width: 62px;
				max-height: 24px;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		@include make-col(12);
		.postitem-container {
			.postitem-image-container{
				@include make-col(2);
			}
			.postitem-functions{
				right: 11px;
			}
//			.postitem-newbanner{
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 2px 57px 2px 47px;
//				position: absolute;
//				left: -39px;
//				top: 0px;
//				transform: rotate(-35deg);
//				-webkit-transform: rotate(-35deg);
//			}
			.postitem-price{
				left: 124px;
				max-width: 24%;
			}
			.postitem-description{
				&:before {
					left: -2px;
				}
			}
			.postitem-postdate{
				left: 296px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		@include make-col(12);
		.postitem-container {
			.postitem-image-container{
				@include make-col(2);
				.post-image {
					position: relative;
				}
			}
//			.postitem-newbanner{
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 2px 57px 2px 47px;
//				position: absolute;
//				left: -39px;
//				top: 0px;
//				transform: rotate(-35deg);
//				-webkit-transform: rotate(-35deg);
//			}
			.postitem-price{
				left: 145px;
				max-width: 26%;
			}
			.postitem-postdate{
				left: 361px;
			}
			.postitem-postlocation{
				left: 755px;
			}
		}
	}
}
.postitem.list {
	margin-bottom: 2px;
	@include media-breakpoint-up(sm) {
		@include make-col(12);
		.postitem-functions{
			right: 18px;
			top: 2px;
		}
		.postitem-container {
			margin-bottom: 0px;
			box-shadow:none;
			border-radius: 0px;
			box-shadow: 0 2px 0 $gray-200;
			&:hover {
				box-shadow: 0 2px 0 $gray-300;
			}
			.postitem-image-container{
				display: none;
			}
//			.postitem-newbanner{
//				color: transparent;
//				font-size: 10px;
//				border-width: 1px 0;
//				border-color: rgba(0, 0, 0, 0.3);
//				padding: 0px 5px 0px 5px;
//				position: absolute;
//				left: -18px;
//				top: 7px;
//				transform: rotate(-90deg);
//				-webkit-transform: rotate(-90deg);
//			}
			.postitem-post-title {
				@include make-col(6);
				font-weight: normal;
				padding-left: 5px;
				max-height: 24px;
				padding-top: 4px;
				padding-right: 10px;
				overflow-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.postitem-price{
				@include make-col(2);
				font-weight: normal;
				font-size: 14px;
				height: 21px;
				padding-right: 10px;
			}
			.w-100 {
				display: none;
			}
			.postitem-postdate{
				@include make-col(2);
				padding-top: 2px;
			}
			.postitem-postlocation{
				@include make-col(2);
				padding-top: 2px;
				max-height: 24px;
				padding-right: 30px;
			}
		}
	}
	&:last-child {
		margin-bottom: 20px;
	}
}

// ad detail view (admin & main)

.ccf-postdetail-title {
	line-height: .5;
	@extend .rbt-ts-26;
	@extend .mt-3;
}
.ccf-postdetail-market {
	border-left: solid 1px $gray-500;
	line-height: .5;
}