legend {
	display: block;
	width: 100%;
	max-width: 100%; // 1
	padding: 0;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit; // 2
	white-space: normal; // 1
	border-bottom: 1px solid #e5e5e5;
}

label {
	display: inline-block;
	margin-bottom: 0rem;
}

.help-block {
	display: block; // account for any element using help-block
	margin-top: 0;
	margin-bottom: 5px;
	color: lighten($text-color, 10%); // lighten the text some for contrast
}

.subLabel {
	font-style: italic;
}

.form-text {
	margin-bottom: 0.25rem;
	margin-top: 0rem;
}

fieldset .form-group:last-child {
	margin-bottom: 2.5rem;
}

.form-group {
	&.form-group-error {
	    margin-left: -10px;
	    margin-right: -10px;
	    padding: 10px;
		background:lighten($brand-danger,45%);
	}
}

td.form-field {
	vertical-align: top;
}