.fa.fa-star {
	color: $orange;
	font-size: 16px;
}
.fa.fa-star-o {
	color: $gray-600;
	font-size: 16px;
}
.btn-sm {
	.fa.fa-star {
		font-size: 14px;
	}

	.fa.fa-star-o {
		font-size: 14px;
	}
}