.user-access {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 15;
  top: 0;
  right: -80%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a, button {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 1.2rem;
	  color: #ddd;
	  display: block;
	  transition: 0.3s;
	  &:hover {
		  color: #f1f1f1;
	  }
	}
  
  .closebtn {
	  background-color: transparent;
  	  border: none;
	  position: absolute;
	  top: -14px;
	  right: 15px;
	  font-size: 2.2rem;
	  margin-left: 50px;
  }
  &.open {
		right: 0;
	}
}

@include media-breakpoint-up(sm) {
	.user-access {
		width: 40%;
		right: -40%;
	}
	.user-access.open {
		right: 0;
	}
}

@include media-breakpoint-up(md) {
	.user-access {
		display: none;
	}
}

@media screen and (max-height: 450px) {
  .user-access {
    padding-top: 15px;
  }
  .user-access a {
    font-size: 18px;
  }
}