//.mobile-panel.open {
//	height:auto;
//	padding-top: 25px;
//	padding-bottom: 60px;
//	.container {
//		transform: scaleY(1);
//	}
//}

.category-card {

	a {
		text-decoration: none;
	}
	.category-icon {
		font-size: 4rem;
		background: $white;
		padding: 5px;
		border-radius: 5px;
		//width: 110px;
		height: 110px;
		text-align: center;
		@include shadow;
	}
	.category-title {
		text-align: center;
		margin-top: 5px;
		color: $blue;
		text-decoration: none;
		@extend .rbt-ts-12;
	}
	margin-bottom: 1.2rem;
	.category-icon .fa {
		color: $blue;
	}
}

//@include media-breakpoint-up(md) {
//	.mobile-panel {
//		top: 60px;
//		.mobile-panel-header {
//			text-align: left;
//			h2 {
//				font-size: 1.2rem;
//			}
//		}
//	}
//}