.CodeMirror { //Set fixed height for Markdown Editor
	height: 300px !important;
	padding: 0 !important;
}

markdown-editor {
	display: block;
	height: 350px;	
	
	textarea {
   		position   : absolute;
   		left       : -1000px;
   		width      : 1px;
   		height     : 1px;
   		overflow   : hidden;
	}
}