.modal-dialog {
	.modal-content {
		.modal-header {
			padding-bottom: 5px;
			padding-top: 5px;
			
			.modal-title [class*='icon-'] {
				opacity: 0.4;
			}
			.close {
				color: #ffffff;
				opacity: .5;
			}
		}
	
		.modal-body .nav.nav-tabs li {
			a, &.active a {
				color: #555555;
			}

			a [class*='icon-'] {
				opacity: 0.4;
			}
		}
		.modal-footer {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	&.modal-tabs-left .modal-content .modal-body {
		padding-top: 0px;
		padding-bottom: 0px;
		
		.tab-content, .tab-content .tab-pane{
			border: none; 
		}
	
		.row {
			.col-xs-9 .tab-content .tab-pane form {
				margin-bottom: 10px;
			}
		
			.tab-container {
				padding: 0px;
			}
		}
	}

	&.modal-tabs-top .modal-content .modal-body {
		padding: 0px;
		
		.nav-tabs {
  			background: whitesmoke;
		}
		
		.nav.nav-tabs.nav-justified > li {
			display: table-cell;
			width: 1%;
			
			> a {
			  border-bottom: 1px solid #dddddd;
			  border-radius: 0px 0px 0 0;
			  margin-bottom: 0px;
			}
		
			&.active {
				a, a:hover, a:focus {
					border-bottom-color: #ffffff;
				}
			}
		}
		.tab-content .tab-pane {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			border-bottom: none;
			
			h4 {
				margin-top: 0px;
			}
		}
	}

	&.modal-confirm .modal-content .modal-body {
		padding-top: 0px;
		padding-bottom: 0px;
		
		.modal-visual {
			background: red;
			
			[class*='icon-'] {
				font-size: 42px;
				opacity: 0.4;
				color: #ffffff;
				margin-left: -3px;
			}
		}
	
		.action {
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	&.modal-multimessage .modal-content .modal-body {
		max-height: 300px;
		overflow: auto;
		padding-top: 0px;
		
		.comment-list li:last-child {
			border-bottom: none;
		}
	}

	&.modal-default {
		&.modal-tabs-left .modal-content .modal-body .row .tab-container {
  			background: #2879B8;
		}
		.modal-content {
			border: solid 2px #2879B8;
			
			.modal-header {
				background: #2879B8;
				color: #FFFFFF;
			}
			.modal-body {
				.modal-visual {
					background: #2879B8;
				}
				.nav.nav-tabs li {
					a {
						background: #2879B8;
 						color: #ffffff;
 						&:hover {
							border-color: #18649E #18649E #18649E;
						}
					}
					&.active a {
						background: #ffffff;
						color: #2879B8;
					}
				}
			}
		}
	}
	&.modal-warning .modal-content { 
		border: solid 2px #C59217;
		
		.modal-header {
 			background: #C59217;
			color: #FFFFFF;
		}
		.modal-body .modal-visual {
			background: #C59217;
		}
	}
	&.modal-error .modal-content  {
		border: solid 2px #dc0031;
		
		.modal-header {
			background: #dc0031;
			color: #FFFFFF;
		}
		.modal-body .modal-visual {
			background: #dc0031;
		}
	}
	&.modal-success .modal-content {
		border: solid 2px #387f38;
		
		.modal-body .modal-visual {
			background: #387f38;
		}
	}
}

@media (max-width: 991px) {
  .modal-dialog.modal-confirm .modal-content .modal-body, .modal-dialog.modal-tabs-left .modal-content .modal-body {
    padding-left: 5px
  }
}