
@include media-breakpoint-up(xs) {
	.main-content .main-content-section .section-head {
		margin-bottom: 20px;
		.section-head-title h2 {
			font-size: 1.2rem;
		}
		.section-head-utilities {
			padding: 0px;
			border-top: solid 1px $gray-600;
			padding-top: 7px;
			.fa {
				margin-top: 2px;
				font-size: 16px;
				color: $gray-200;
			}
			.dropdown {
				display: inline-flex;
				border: solid 1px $gray-400;
				padding: 2px;
				border-radius: 20px;
				padding-left: 10px;
				padding-right: 10px;
				background: #ffffff;

			}


			.dropdown.util-location {
				.fa {
					color:  $gray-600;
					margin-right: 5px;
				}
			}
			.dropdown.util-filter {
				margin-left: 5px;
				.fa {
					color:  $gray-600;
					margin-right: 5px;
				}
			}
			.btn.btn-link {
				padding: 0px;
				color: #777;
				&:hover {
					text-decoration: none;
				}
			}
			.btn-group {
				.btn.btn-sm.btn-outline-secondary {
					padding: 0.1rem 0.4rem;

				}
				&.util-view-switch {
					margin-left: 12px;
					&:before {
						position: absolute;
						content: '';
						border-left: solid 1px $gray-600;
						left: -9px;
						height: 33px;
						top: -12px;
					}
					.btn.btn-sm {
						padding: 0.1rem 0.4rem;
						margin-top: -5px;
						border-color: $gray-400;
						.fa {
							color: $gray-600;
						}
						&.active{
							.fa {
								color: $gray-200;
							}
						}
					}
				}
			}

			.dropdown.util-location .btn.btn-link .long-name {
				display: none;
			}
			.dropdown.util-location .btn.btn-link .short-name {
				display: inline;
			}
		}

		.section-head-utilities .row.align-items-center .col .dropdown {

			.btn.btn-link {
				margin-left: 3px;
			}
		}
	}

}
@include media-breakpoint-up(sm) {
	.main-content .main-content-section .section-head {
		.section-head-title h2 {
			font-size: 1.5rem;
		}


	}
}
@include media-breakpoint-up(md) {


}
@include media-breakpoint-up(lg) {
	.main-content .main-content-section .section-head {

		.section-head-utilities {
			.dropdown.util-location .btn.btn-link .long-name {
				display: inline;
			}
			.dropdown.util-location .btn.btn-link .short-name {
				display: none;
			}
		}

	}
}



