.ad {
	background: #FFFFFF;
	min-height: 220px;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
	@include shadow;
}

.ad .ad-image {
	background-color: $gray-200;
	background-image: url(../img/ad-pics/category-music.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	min-height: 150px;
	margin-bottom: 5px;

}

.ad .watchlist-set .fa.fa-heart-o {
	position: absolute;
	background: #fff;
	right: 11px;
	padding: 4px;
	top: 11px;
}

.ad .ad-title {
	font-size: 16px;
	font-weight: bold;
	color: $link-color;
	line-height: 1.1rem;
}
.ad .ad-price {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1rem;
}
.ad .ad-location {
	font-size: 12px;
	color: #868e96;
}
.ad .ad-titleprice {
	min-height: 45px;
}