
.table-filter {
  .card-body {
    padding: .5rem;
  }

}

.table-postdetails {
  th {
    .btn {
      margin-left: 3px;
      width: 25px;
      border: solid 1px #ccc;
    }
  }
  .checkbox {
    padding-left: 10px;
    margin-top: -10px;
    label {
      &:before {
        margin-top: 0px;
      }
      &:after {
        top: -2px;
      }
    }

  }
  .open {
    background: $gray-200;
    &.flagged {
      background: lighten($red, 42%);
    }

  }
  .flagged {
    background: lighten($red, 42%);
    .open {
      background: lighten($red, 42%);
    }
  }

  .post-maininfo {
    padding-left: 20px;
    position: relative;
    .toggle-indicator {
      position: absolute;
      left: 5px;
      font-size: 10px;
      top: 9px;
    }

  }
  .post-details {

    .card-header {
      padding: 0.2rem;
      background: $gray-700;
    }
    .card-body {
      background: $white;
      dt {
        font-weight: normal;
        font-variant: all-petite-caps;
        color: $gray-600;
      }
      dd {
        img {
          max-height: 70px;
          margin: 1px;
        }
      }
    }

    &.flagged {
      .card-footer {
        background: lighten($red, 42%);
      }
    }
  }
  td {
    &:last-child {
      text-align: center;
    }
    &:first-child {
      padding-right:0px;
      position: relative;
    }
  }
  .open {
    &:first-child {
      text-align: left;
    }
    }

}