.table-postdetails {
	.open {
		background: $gray-100;

	}
	.post-maininfo {
		padding-left: 20px;
		position: relative;
		.toggle-indicator {
			position: absolute;
			left: 5px;
			font-size: 10px;
			top: 9px;
		}
		dt {
			font-weight: normal;
			font-variant: all-petite-caps;
			color: $gray-600;
		}
		dd {
			img {
				max-height: 70px;
				margin: 1px;
			}
		}

	}
	td {
		&:last-child {
			text-align: center;
		}
	}
}