.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding-top: 10px;
        padding-bottom: 5px;
        .modal-title {
          padding-right: 40px;
          @extend .h4;
        }
        .modal-close {
          font-size: 18px;
          color: $gray-700;
          border: solid 1px $gray-700;
          position: absolute;
          right: 15px;
          top: 10px;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          text-align: center;
          &:hover {
            color: $gray-900;
            border: solid 1px $gray-900;
          }
        }
      }
      .modal-body {

      }
      .modal-footer {
        padding-bottom: 10px;
        padding-top: 10px;
        justify-content: center;

      }
    }
  }
}




