
.postitem-row {
	@include make-row();
	margin: 0px;
}
.postitem.mobile {
	@include make-col-ready();


	@include media-breakpoint-up(xs) {
		@include make-col(12);
		.postitem-container {
			padding: 5px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			height: 66px;
			@include shadow;
			.postitem-image-container{
				position: absolute;
				padding: 0px;
				top: 0px;
				width: 64px;
				height: 47px;
				left: 0px;
				.post-image {
					background-color: $gray-200;


					background-size: auto 100%;
					min-height: 77px;
					//margin-bottom: 5px;
					width: 100%;


				}
				.post-image.none:before {

					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 2rem;
					color: $white;
					z-index: 1;
					margin: auto;
					position: absolute;
					top: 8px;
					left: 0;
					bottom: 0;
					right: 0;
					text-align: center;
				}

			}
			.postitem-watchlist{
				position: absolute;
				right: 5px;
				top: 3px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{
				border: 0 solid rgba(0, 0, 0, 0.2);
				color: $white;
				font-size: 12px;
				font-weight: bold;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 2px 57px 2px 47px;
				position: absolute;
				left: -39px;
				top: 0px;
				transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);
				z-index: 1;

			}
			.postitem-post-title {
				@extend .col-12;
				font-size: 14px;
				//font-weight: bold;
				color: #005A9C;
				line-height: .9rem;
				padding-left: 64px;
				padding-right: 30px;
				height: 33px;
				overflow: hidden;


			}
			.postitem-price{
				@extend .col-7;
				font-weight: bold;
				padding-left: 64px;
				font-size: 16px;
				max-height: 32px;
				padding-top: 1px;

			}



			.w-100 {
				display: none;
			}
			.postitem-description{
				display: none;

			}
			.postitem-postdate{

				font-size: 12px;
				font-style: italic;
				color: $gray-700;
				@extend .col-3;
				padding-top: 5px;
				padding-left: 0px;


			}
			.postitem-postlocation{
				font-size: 12px;
				color: $gray-700;
				position: absolute;
				right: 10px;
				bottom: 5px;
				width: 77px;
				text-align: right;
				max-height: 24px;

			}

		}
	}

}
.postitem.grid {
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(6);
		.postitem-container {
			padding: 10px;
			padding-bottom: 3px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
			@include shadow;
			.postitem-image-container{
				@include make-col(12);
				.post-image {
					background-color: $gray-200;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% auto;
					min-height: 150px;
					margin-bottom: 5px;
					width: 100%;
					height:50px;
				}
				.post-image.none:before {

					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 4rem;
					color: $white;
					z-index: 1;
					margin: auto;
					margin-top: 35px;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					text-align: center;
				}
			}
			.postitem-watchlist{
				position: absolute;
				right: 11px;
				top: 11px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{


				border: 0 solid rgba(0, 0, 0, 0.2);
				color: $white;
				font-size: 12px;
				font-weight: bold;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 2px 57px 2px 47px;
				position: absolute;
				left: -39px;
				top: 0px;
				transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);

			}
			.postitem-post-title {
				@include make-col(12);
				font-size: 14px;
				//font-weight: bold;
				color: $link-color;
				line-height: 1.1rem;
				max-height: 40px;
				height: 40px;
			}
			.postitem-price {
				position: absolute;
				font-size: 14px;
				//font-weight: bold;
				text-shadow: 1px 1px 4px #000000;
				text-transform: capitalize;
				line-height: 1.1rem;
				color: white;
				bottom: 75px;
				//background-color: rgba(3, 92, 157, 0.8);
				padding: 4px;
				padding-right: 10px;
				left: 11px;
				-webkit-border-top-right-radius: 15px;
				-webkit-border-bottom-right-radius: 15px;
				-moz-border-radius-topright: 15px;
				-moz-border-radius-bottomright: 15px;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
				z-index: 5;

			}

			.postitem-description{
				display: none;

			}
			.postitem-postdate{
				@include make-col(6);

				font-size: 12px;
				font-style: italic;
				color: $gray-700;

			}
			.postitem-postlocation{
				@include make-col(6);
				text-align: right;
				font-size: 12px;
				color: $gray-700;
				max-height: 18px;
			}
		}

	}

	@include media-breakpoint-up(lg) {
		@include make-col(4);
		.postitem-container {


			.postitem-image-container{


				.post-image.none:before {

				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
		@include make-col(4);
		.postitem-container {


			.postitem-image-container{


				.post-image.none:before {


				}
			}
		}
	}
}
.postitem.thumb {
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(12);
		.postitem-container {
			padding: 5px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			@include shadow;
			.postitem-image-container{
				@include make-col(2);
				.post-image {
					background-color: $gray-200;

					background-repeat: no-repeat;
					background-position: center;
					background-size: auto 100%;
					min-height: 77px;
					width: 100%;
					position: relative;

				}
				.post-image.none:before {

					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 2.5rem;
					color: $white;
					z-index: 1;
					margin: auto;
					position: absolute;
					top: 7px;
					left: 0;
					bottom: 0;
					right: 0;
					text-align: center;
				}
			}
			.postitem-watchlist{
				position: absolute;
				right: 11px;
				top: 5px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{

				border: 0 solid rgba(0, 0, 0, 0.2);
				color: $white;
				font-size: 12px;
				font-weight: bold;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 2px 57px 2px 47px;
				position: absolute;
				left: -39px;
				top: 0px;
				transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);
				z-index: 1;

			}
			.postitem-post-title {
				@include make-col(4);
				font-size: 14px;
				//font-weight: bold;
				color: #005A9C;
				line-height: .9rem;
				padding-left: 5px;
				max-height: 40px;
				overflow: hidden;


			}
			.postitem-price{
				position: absolute;
				font-weight: bold;
				font-size: 16px;
				left: 94px;
				bottom: 5px;
			}




			.w-100 {
				display: none;
			}
			.postitem-description{
				@include make-col(6);
				line-height: 1.3;
				padding-right: 65px;
				padding-left: 15px;
				font-size: 12px;
				max-height: 77px;
				height: 77px;
				position: relative;
				&:before {
					background: $gray-200;
					position: absolute;
					width: 2px;
					height: 76px;
					content: "";
					left: 2px;
				}
			}
			.postitem-postdate{
				position: absolute;
				font-size: 12px;
				font-style: italic;
				color: $gray-700;
				left: 211px;
				bottom: 5px;

			}
			.postitem-postlocation{
				text-align: right;
				position: absolute;
				right: 10px;
				font-size: 12px;
				color: $gray-700;
				bottom: 5px;
				width: 62px;
				max-height: 24px;

			}

		}

	}
	@include media-breakpoint-up(lg) {
		@include make-col(12);
		.postitem-container {
			padding: 5px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			@include shadow;
			.postitem-image-container{
				@include make-col(2);
				.post-image {
					background-color: $gray-200;

					background-repeat: no-repeat;
					background-position: center;
					background-size: auto 100%;
					min-height: 77px;
					width: 100%;

				}
			}
			.postitem-watchlist{
				position: absolute;
				right: 11px;
				top: 5px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{

				border: 0 solid rgba(0, 0, 0, 0.2);
				color: $white;
				font-size: 12px;
				font-weight: bold;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 2px 57px 2px 47px;
				position: absolute;
				left: -39px;
				top: 0px;
				transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);

			}
			.postitem-post-title {
				@include make-col(4);
				font-size: 14px;
				color: #005A9C;
				line-height: .9rem;
				padding-left: 5px;
				max-height: 40px;
				overflow: hidden;


			}
			.postitem-price{
				position: absolute;
				font-weight: bold;
				font-size: 16px;
				left: 124px;
				bottom: 5px;
			}




			.w-100 {
				display: none;
			}
			.postitem-description{
				@include make-col(6);
				line-height: 1.3;
				padding-right: 65px;
				padding-left: 15px;
				font-size: 12px;
				max-height: 77px;
				height: 77px;
				position: relative;
				&:before {
					background: $gray-200;
					position: absolute;
					width: 2px;
					height: 76px;
					content: "";
					left: -2px;
				}
			}
			.postitem-postdate{
				position: absolute;
				font-size: 12px;
				font-style: italic;
				color: $gray-700;
				left: 296px;
				bottom: 5px;

			}
			.postitem-postlocation{
				position: absolute;
				font-size: 12px;
				color: $gray-700;
				//left: 304px;
				bottom: 5px;
				width: 62px;


			}

		}

	}
	@include media-breakpoint-up(xl) {
		@include make-col(12);
		.postitem-container {
			padding: 5px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			@include shadow;
			.postitem-image-container{
				@include make-col(2);
				.post-image {
					background-color: $gray-200;

					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% auto;
					min-height: 77px;
					width: 100%;
					position: relative;

				}
			}
			.postitem-watchlist{
				position: absolute;
				right: 11px;
				top: 5px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{

				border: 0 solid rgba(0, 0, 0, 0.2);
				color: $white;
				font-size: 12px;
				font-weight: bold;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 2px 57px 2px 47px;
				position: absolute;
				left: -39px;
				top: 0px;
				transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);

			}
			.postitem-post-title {
				@include make-col(4);
				font-size: 14px;
				color: #005A9C;
				line-height: .9rem;
				padding-left: 5px;
				max-height: 40px;
				overflow: hidden;


			}
			.postitem-price{
				position: absolute;
				font-weight: bold;
				font-size: 16px;
				left: 145px;
				bottom: 5px;
			}




			.w-100 {
				display: none;
			}
			.postitem-description{
				@include make-col(6);
				line-height: 1.3;
				padding-right: 65px;
				padding-left: 15px;
				font-size: 12px;
				max-height: 77px;
				height: 77px;
				position: relative;
				&:before {
					background: $gray-200;
					position: absolute;
					width: 2px;
					height: 76px;
					content: "";
					left: -2px;
				}
			}
			.postitem-postdate{
				position: absolute;
				font-size: 12px;
				font-style: italic;
				color: $gray-700;
				left: 361px;
				bottom: 5px;

			}
			.postitem-postlocation{
				position: absolute;
				font-size: 12px;
				color: $gray-700;
				left: 755px;
				bottom: 5px;
				width: 62px;

			}

		}

	}


}
.postitem.list {
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(12);
		.postitem-container {
			padding: 5px;
			background: $white;
			overflow: hidden;
			position: relative;
			margin-bottom: 0px;
			@include shadow;
			.postitem-image-container{
				display: none;

				.post-image {


				}
			}
			.postitem-watchlist{
				position: absolute;
				right: 4px;
				.watchlist-set {
					background: $white;
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 1px;
					.btn-link {
						padding: 0px;
						margin-top: -3px;
					}
				}
			}
			.postitem-newbanner{

				border: 0 solid rgba(0, 0, 0, 0.2);
				color: transparent;
				font-size: 10px;
				border-width: 1px 0;
				border-color: rgba(0, 0, 0, 0.3);
				padding: 0px 5px 0px 5px;
				position: absolute;
				left: -18px;
				top: 7px;
				transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);

			}
			.postitem-post-title {
				@include make-col(6);
				font-size: 14px;
				font-weight: normal;
				color: #005A9C;
				line-height: .9rem;
				padding-left: 5px;
				max-height: 24px;
				padding-top: 4px;
				padding-right: 10px;



			}
			.postitem-price{
				@include make-col(2);
				font-weight: normal;
				font-size: 14px;
				height: 21px;
				padding-right: 10px;

			}

			.w-100 {
				display: none;
			}
			.postitem-description{
				display: none;


			}
			.postitem-postdate{
				@include make-col(2);
				font-size: 12px;
				font-style: italic;
				color: $gray-700;
				padding-top: 2px;	


			}
			.postitem-postlocation{
				@include make-col(2);
				font-size: 12px;
				color: $gray-700;
				padding-top: 2px;
				max-height: 24px;
				padding-right: 30px;


			}

		}

	}
	&:last-child {
		margin-bottom: 20px;
	}


}

// Ad Category Icons - these need to be dynamically driven

.postitem.cat-music {
	.post-image.none:before {
		content: "\f001";
	}
}


.postitem.cat-roomate {
	.post-image.none:before {
		content: "\f2b9";
	}
}


.postitem.cat-electronics {
	.post-image.none:before {
		content: "\f0e7";
	}
}


.postitem.cat-announcements {
	.post-image.none:before {
		content: "\f0a1";
	}
}


.postitem.cat-jobs {
	.post-image.none:before {
		content: "\f2b5";
	}
}


.postitem.cat-rideboard {
	.post-image.none:before {
		content: "\f087";
	}
}


.postitem.cat-misc {
	.post-image.none:before {
		content: "\f02c";
	}
}