.imageuploader {
  border: solid 1px $gray-400;
  .imageuploader-controls {
    background: $gray-100;
    color: $gray-600;
    @extend .p-2;

  }
  .imageuploader-images {
    @extend .p-2;
    .imageuploader-image {
      position: relative;
      display: inline-block;
      img {
        max-height: 70px;
        min-height: 36px;
        width: auto;
      }
      .deleteimage {
        position: absolute;
        background: #000;
        top: -5px;
        right: -7px;
        border: solid 1px #ffffff;
        color: white;
        font-size: 10px;
        padding: 0px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 9px;
        .fa {
        }

      }

    }

  }
}

