.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          @extend .h3;
        }
        .modal-close {
          font-size: 18px;
          color: $gray-700;
          border: solid 1px $gray-700;
          position: absolute;
          right: 15px;
          top: 15px;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          text-align: center;
          &:hover {
            color: $gray-900;
            border: solid 1px $gray-900;
          }
        }

      }
      .modal-body {

      }
      .modal-footer {

      }
    }
  }
}




