//Regular

@font-face {
  font-family: 'BentonSansRegular';
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'BentonSansBold';
  src: url('https://fonts.iu.edu/fonts/benton-sans-bold.eot');
  src: url('https://fonts.iu.edu/fonts/benton-sans-bold.eot?#iefix') format("embedded-opentype"), url('https://fonts.iu.edu/fonts/benton-sans-bold.woff') format("woff"), url('https://fonts.iu.edu/fonts/benton-sans-bold.ttf') format("truetype"), url('https://fonts.iu.edu/fonts/benton-sans-bold.svg#BentonSansBold') format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'BentonSansItalic';
  src: url('https://fonts.iu.edu/fonts/benton-sans-italic.eot');
  src: url('https://fonts.iu.edu/fonts/benton-sans-italic.eot?#iefix') format("embedded-opentype"), url('https://fonts.iu.edu/fonts/benton-sans-italic.woff') format("woff"), url('https://fonts.iu.edu/fonts/benton-sans-italic.ttf') format("truetype"), url('https://fonts.iu.edu/fonts/benton-sans-italic.svg#BentonSansItalic') format("svg");
  font-style: normal;
  font-weight: normal;
}


//Condensed

@font-face {
  font-family: 'BentonSansCondRegular';
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.svg#BentonSansCondRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'BentonSansCondItalic';
  src: url('https://fonts.iu.edu/fonts/benton-sans-cond-italic.eot');
  src: url('https://fonts.iu.edu/fonts/benton-sans-cond-italic.eot?#iefix') format("embedded-opentype"), url('https://fonts.iu.edu/fonts/benton-sans-cond-italic.woff') format("woff"), url('https://fonts.iu.edu/fonts/benton-sans-cond-italic.ttf') format("truetype"), url('https://fonts.iu.edu/fonts/benton-sans-cond-italic.svg#BentonSansCondItalic') format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'BentonSansCondBold';
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.svg#BentonSansCondBold") format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'BentonSansCondBoldItalic';
  src: url('https://fonts.iu.edu/fonts/benton-sans-cond-bold-italic.eot');
  src: url('https://fonts.iu.edu/fonts/benton-sans-cond-bold-italic.eot?#iefix') format("embedded-opentype"), url('https://fonts.iu.edu/fonts/benton-sans-cond-bold-italic.woff') format("woff"), url('https://fonts.iu.edu/fonts/benton-sans-cond-bold-italic.ttf') format("truetype"), url('https://fonts.iu.edu/fonts/benton-sans-cond-bold-italic.svg#BentonSansCondBoldItalic') format("svg");
  font-style: normal;
  font-weight: normal;
}