legend {
	display: block;
	width: 100%;
	max-width: 100%; // 1
	padding: 0;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit; // 2
	white-space: normal; // 1


	background: $gray-200;
	padding-left: .5rem;
	padding-right: .5rem;
}


label {

	display: inline-block;
	margin-bottom: 0rem;
}

.form-text {
	margin-bottom: 0.25rem;
	margin-top: 0rem;
}

fieldset .form-group:last-child {
	margin-bottom: 2.5rem;
}