.user-options {
  margin-top: 34px;
  .nav-item {
    .nav-link {
      background: $gray-100;
      border: solid 1px $gray-300;
      margin-top: -1px;
      padding: 0.2rem 1rem;
      .fa {
        margin-top: 1px;
      }
    }
  }
}