.mobile-panel {
	background: $gray-200;
	position: absolute;
	top: 40px;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 60px;
	display: none;
	z-index: 5;
	.mobile-panel-header {
		text-align: center;
		margin-bottom: 20px;
		h2 {
			font-size: 1.2rem;
		}
	}

	.category-card {
		.category-icon {
			font-size: 4rem;
			background: #ffffff;
			padding: 5px;
			border-radius: 10%;
			width: 110px;
			height: 110px;
			text-align: center;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
		}
		.category-title {
			text-align: center;
			margin-top: 5px;
			color: $gray-700;
		}
		margin-bottom: 1.2rem;
		.category-icon .fa {
			//color set via theme
		}
	}
}




.mobile-panel.search{
	.search-container {
		border: solid 1px $gray-800;
		padding: 3px;
		border-radius: 50px;
		background: #ffffff;
		.search-button .btn.btn-dark {
			-webkit-border-top-right-radius: 20px;
			-webkit-border-bottom-right-radius: 20px;
			-moz-border-radius-topright: 20px;
			-moz-border-radius-bottomright: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			padding-top: .4rem;
			.search-label {
				font-variant: all-petite-caps;
				letter-spacing: 1px;
				font-size: 18px;
			}
		}
		.search-input {
			border: none;
			background: transparent;
		}
		.search-geo {

			.long-name {
				display: none;
			}
			.short-name {
				display: inline;
			}
			.fa.fa-map-marker {
				margin-right: 10px;
				color: #b8b8b8;
			}
			.dropdown {
				display: inline;
				.dropdown-menu {
					border: solid 1px $gray-800;
					border-top: none;
					top: 9px !important;
					left: 31px !important;
					float: right;
					min-width: inherit;


				}

			}
		}
	}
}









@include media-breakpoint-up(xs) {

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {
	.mobile-panel {

		top: 60px;
		.mobile-panel-header {
			text-align: left;

			h2 {
				font-size: 1.2rem;
			}
		}

	}

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
