
$theme-header-background: #ffffff;


@function set-header-text-color($color) {
	@if (lightness($color) > 50) {
		@return $gray-800;
	}
	@else {
		@return $white;
	}
}
.brand-text, .post .btn, .user-ads .menu-trigger .fa {
	color: set-header-text-color($theme-header-background);
}
.post .btn {
	border-color: set-header-text-color($theme-header-background);
}
@function set-searchbutton-color($color) {
	@if (lightness($color) > 50) {
		@return $gray-800;
	}
	@else {
		@return $theme-header-background;
	}
}
.search .search-container .search-button .btn {
	background: set-searchbutton-color($theme-header-background);
}
@function set-pricebackground-color($color) {
	@if (lightness($color) > 50) {
		@return transparentize($gray-800, 0.2);
	}
	@else {
		@return transparentize($theme-header-background, 0.2);
	}
}
.ad2.grid .ad2-maincontainer .ad2-cont5.ad-price {
	background: set-pricebackground-color($theme-header-background);
}
@function set-newbadge-color($color) {
	@if (lightness($color) > 50) {
		@return $gray-800;
	}
	@else {
		@return $theme-header-background;
	}
}
.ad2-cont3.banner {
	background: set-newbadge-color($theme-header-background);
}