.main-nav {
	margin-top: 2px;

	.sub-menu .watchlist {
		border-bottom: 3px solid #ced4da;
	}
	.sub-menu .watchlist a .fa {
		margin-top: 10px;
	}

	ul, li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		line-height: 32px;
		cursor: pointer;
	}

	ul :not(collapsed) .arrow:before, li :not(collapsed) .arrow:before {
		font-family: FontAwesome;
		content: "\f107";
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: middle;
		float: right;
	}
	ul .active, li .active {

		background-color: $white;
	}
	ul .sub-menu li.active, li .sub-menu li.active, ul .sub-menu li.active a, li .sub-menu li.active a {
		color: $gray-800;
	}
	ul .sub-menu li, li .sub-menu li {
		background-color: $gray-200;
		border: none;
		line-height: 28px;
		border-bottom: 1px solid $gray-300;
		margin-left: 0px;
	}
	ul .sub-menu li:hover, li .sub-menu li:hover {
		background-color: $gray-100;
	}
	ul .sub-menu li:before {
		font-family: FontAwesome;
		content: "\f111";
		display: inline-block;
		padding-left: 10px;
		padding-right: 0px;
		font-size: 6px;
		vertical-align: middle;
		color: $gray-200;
	}
	ul .sub-menu li.active:before {

		color: $gray-600;
	}



	li {
		.sub-menu li:before {
			font-family: FontAwesome;
			content: "\f111";
			display: inline-block;
			padding-left: 10px;
			padding-right: 0px;
			font-size: 6px;
			vertical-align: middle;
		}

		border-bottom: 1px solid $gray-400;
		a {
			text-decoration: none;

			padding-left: 10px;
			color: $gray-800;
			i {
				padding-left: 5px;
				width: 20px;
				padding-right: 15px;
				padding-top: 9px;
			}
		}
		&:hover {

			background-color: $gray-100;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}
	}
	li.divider {
		border-bottom: 2px solid #ced4da;
	}
	.post-nav-links {
		padding-top: 30px;
		font-style: italic;
	}
}

@include media-breakpoint-down(sm) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 5px;
		.toggle-btn {
			display: block;
			cursor: pointer;
			z-index: 10 !important;
			background-color: $gray-200;
			color: $gray-600;
			text-align: right;
			font-size: 20px;
			padding-right: 6px;
			padding-bottom: 5px;
		}
	}

}

@include media-breakpoint-up(md) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}



@include media-breakpoint-up(xs) {
	.nav-side-menu {
		margin-top: 10px;
	}

}


.menu-content {
	border-top: solid 2px $gray-200;}
