@include media-breakpoint-up(xs) {

	.main-content {
		margin-top: 60px;


	}
}

@include media-breakpoint-up(md) {


	.main-content {
		margin-top: 95px;


	}
}


.other-ads {
	margin-bottom: 10px;
	.other-ads-content {
		background: #e9ecef;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1.3rem;
		margin-top: 10px;
	}
	hr {
		margin-top: -16px;
	}
}